Options -MultiViews
RewriteEngine On

# Rewrite admin
RewriteRule ^admin$ controller/main.php?action=admin [L]
RewriteRule ^admin/dashboard$ controller/main.php?action=dashboard [L]

# Rewrite customer
RewriteRule ^login$ controller/main.php?action=customer-login [L]
RewriteRule ^login/save$ controller/main.php?action=customer-login-save [L]
RewriteRule ^register$ controller/main.php?action=customer-register [L]
RewriteRule ^register/save$ controller/main.php?action=customer-register-save [L]
RewriteRule ^profile$ controller/main.php?action=customer-profile [L]
RewriteRule ^profile/edited$ controller/main.php?action=customer-profile-edited [L]

# Rewrite halaman lainnya
RewriteRule ^item/(\d+)$ controller/main.php?action=item&id=$1 [L]
RewriteRule ^cart$ controller/main.php?action=cart [L]
RewriteRule ^order$ controller/main.php?action=order [L]
RewriteRule ^contact$ controller/main.php?action=contact [L]
RewriteRule ^logout$ controller/main.php?action=logout [L]
